
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <base target="_top">
      <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
      <title>Global Amphibian Blitz | Amphibian Ark</title>
      <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"> </script>
      <script type="text/javascript">
      function initialize() {
        var myOptions = {
          mapTypeId: google.maps.MapTypeId.TERRAIN
        }

        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        
        var georssLayer = new google.maps.KmlLayer(
          'http://www.inaturalist.org/observations.kml?taxon_id=<%= @taxon_id %>?ts=<%= @time %>'
        );
        georssLayer.setMap(map);
        
        var georssLayer2 = new google.maps.KmlLayer(
          'http://www.inaturalist.org/taxa/<%= @taxon_id %>/range.kml?ts=<%= @time2 %>'
        );
        georssLayer2.setMap(map);
        
        var georssLayer3 = new google.maps.KmlLayer(
          'https://amazing-amphibians.herokuapp.com/assets/legend.kml?ts=<%= @time %>',
          {preserveViewport:true}
        );
        georssLayer3.setMap(map);
        
      }
      </script>
      <style type="text/css" media="screen">
      #banner {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: left;
        width: 100%;
        height: 40px;
      }
      #banner a {
        text-decoration: none;
      }
      #map_canvas {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: left;
        width: 100%;
        height: <%= @height %>px;
      }
      .button{
        border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #a5b8da;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
        background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
        background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
        background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
        background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
        background-image: linear-gradient(top, #a5b8da, #7089b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
      }

      .button:hover{
        border:1px solid #5d7fbc; background-color: #819bcb;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#819bcb), color-stop(100%, #536f9d));
        background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
        background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
        background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
        background-image: -o-linear-gradient(top, #819bcb, #536f9d);
        background-image: linear-gradient(top, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
      }
      </style>
    </head>
    <body onload="initialize()">
      <div id="banner">
        <a href="http://www.inaturalist.org/observations/new?taxon_id=<%= @taxon_id %><%= @proj %>" class="button" target="_top" style="margin-right:10px;float:left;">Add Observations of <i><%= @name %></i></b></a>
        <a href="http://www.inaturalist.org" target="_blank"><img src="http://www.inaturalist.org/images/inat-logo-pb.png" style="float:right;" /></a>
      </div>
      <div id="map_canvas"></div>
    </body>
</html>

